<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Audio Recorder</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}">
</head>
<body>

<div class="bg-image">
<div class="main">
  <div class="center">
    <p class="title">Audio Classification Model</p>
    <div class="button_wrapper">
      <a class="button" href="./upload"><button>Upload Audio</button></a>
      <a class ="button" href="./record"><button>Record Audio</button></a>
    </div>
  </div>
</div>
</div>
</body>
</html>
